<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%= JSON.stringify(userDelete) %>
    <div class="topnav">
        <a href="/"> Home </a>
        <a class="active" href="/create"> Create User </a>
    </div>
    <div class="form-add-new">
        <form action="/delete-user" method="post">
            <fieldset>
                <legend> Delete users</legend>
                <div class="input-group d-none">
                    <label> Email:</label>
                    <input type="text" name="userId" value="<%= userDelete.id %>">
                </div>
                <div class="input-group">
                    <label> Are you are delete this user with Email:</label>
                    <input type="text" name="emailId" value="<%= userDelete.email %>">
                </div>
                <div>
                    <button> Confirm </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>